@{
    ViewBag.Title = "古驿平安视频系统";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@using VideoSystem.Models
@model VideoSystem.Concrete.Paging

<div class="main" style="margin-left:290px;width:80%">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Admin/BackMain/")"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">用户列表</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">用户列表</div>
                <div class="panel-body">
                    <form role="form" method="post" action="@Url.Content("~/UserManager")">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="searchText" id="searchText" placeholder="搜索" style="width: 200px;" />
                                </td>
                                <td>
                                    <select class="form-control" style="width: 120px;" name="searchType">
                                        <option value="byAccount">按账号</option>
                                        <option value="byEmail">按邮箱</option>
                                        <option value="byPhone">按电话</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default">搜索</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <table class="table table-bordered table-hover class" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>账号</th>
                                <th>邮箱</th>
                                <th>电话</th>
                                <th>邀请码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(User u in Model.returnData){
                                <tr>
                                        <td>@u.UserID</td>
                                        <td>@u.UserAccount</td>
                                        <td>@u.UserEmail</td>
                                        <td>@u.UserPhone</td>
                                        <td>
                                            <a href="#">查看</a>
                                        </td>
                                        <td>
                                            <a href="#">[编辑]</a>
                                            <a href="#">[删除]</a>
                                        </td>
                                    </tr>
                            }
                        </tbody>
                    </table>

                    @{
                        int prePageId = (Model.request_page > 1) ? Model.request_page - 1 : 1;
                        int nextPageId = (Model.request_page < Model.total_pages) ? Model.request_page + 1 : Model.total_pages;
                    }

                    <div style="text-align: center">
                        <ul class="pagination">
                            <li><a href="@Url.Content("~/UserManager/Index/Page1")">首页</a></li>
                            <li><a href="@Url.Content("~/UserManager/Index/Page" + prePageId)">&laquo;</a></li>
                            @for (int i = Model.start_page_num; i <= Model.end_page_num; i++)
                            {
                                <li><a id="@i" href="@Url.Content("~/UserManager/Index/Page" + i)">@i</a></li>
                            }
                            <li><a href="@Url.Content("~/UserManager/Index/Page" + nextPageId)">&raquo;</a></li>
                            <li><a href="@Url.Content("~/UserManager/Index/Page" + Model.total_pages)">末页</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
