@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@using VideoSystem.Models
@model VideoSystem.Concrete.Paging


<div class="main" style="margin-left:290px;width:80%">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Admin/BackMain/")"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">视频列表</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">视频列表</div>
                <div class="panel-body">
                    <form role="form" action="@Url.Content("~/Search")" method="get">
                        <input type="hidden" name="model" value="Video"/>
                        <table>
                            <tr>
                                <td id="searchValue">
                                    <input type="text" class="form-control" name="searchValue" placeholder="请输入视频编号" style="width: 200px;" />
                                </td>
                                <td>
                                    <select class="form-control" style="width: 100px;" id="searchType" name="searchType">
                                        <option value="videoID" selected>按编号</option>
                                        <option value="videoName">按名称</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default">搜索</button>
                                </td>
                                <td style="padding-left:30px;">
                                    <button type="button" class="btn btn-primary" onclick="exportAll();">导出全部邀请码</button>
                                </td>
                                <td style="padding-left:10px;">
                                    <a href="@Url.Content("~/VideoManager/UploadPage")" class="btn btn-primary" >上传视频</a>
                                </td>
                                <td style="padding-left:30px;">
                                    <button type="button" class="btn btn-primary">视频总数：<span class="badge">@TempData["videoCount"]</span></button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <table class="table table-bordered table-hover class" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>首图</th>
                                <th>上传时间</th>
                                <th>邀请码数量</th>
                                <th>已使用</th>
                                <th>未使用</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Video v in Model.returnData)
                            { 
                                <tr>
                                    <td>@v.VideoID</td>
                                    <td>@v.VideoName</td>
                                    <td>
                                        <img style="width:100px;height:70px;" src="@v.VideoImageLocal"/>
                                    </td>
                                    <td>@v.UploadTime</td>
                                    <td>@v.CodeCounts</td>
                                    <td>@v.CodeUsed</td>
                                    <td>@v.CodeNotUsed</td>
                                    <td>
                                        <a onclick="createCode(@v.VideoID);">[生成邀请码]</a>
                                        <a onclick="deleteVideo(@v.VideoID);">[删除]</a>
                                        <a onclick="exportExcel(@v.VideoID);">[导出邀请码]</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    @{
                        int prePageId = (Model.request_page > 1) ? Model.request_page - 1 : 1;
                        int nextPageId = (Model.request_page < Model.total_pages) ? Model.request_page + 1 : Model.total_pages;
                    }

                    <div style="text-align: center">
                        <ul class="pagination">
                            <li><a href="@ViewBag.searchAction">首页</a></li>
                            <li><a href="@ViewBag.searchAction@prePageId">&laquo;</a></li>
                            @for (int i = Model.start_page_num; i <= Model.end_page_num; i++)
                            {
                                <li><a id="@i" href="@ViewBag.searchAction@i">@i</a></li>
                            }
                            <li><a href="@ViewBag.searchAction@nextPageId">&raquo;</a></li>
                            <li><a href="@ViewBag.searchAction@Model.total_pages">末页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    jQuery("#searchType").on("change", function () {
        var searchType = this.value;
        var searchValue = jQuery("#searchValue");
        if (searchType == "videoID") {
            searchValue.html("<input type='text' class='form-control' name='searchValue' style='width: 200px;' placeholder=请输入视频编号 required/>");
        }
        if (searchType == "videoName") {
            searchValue.html("<input type='text' class='form-control' name='searchValue' style='width: 200px;' placeholder=请输入视频名称 required/>");
        }
    });


    //导出单个视频的邀请码
    function exportExcel(videoID)
    {
        var html = "<div style='padding:10px;'><p style='color:red;'>请输入要导出的邀请码数量，0表示导出全部邀请码</p>数量：<input type='text' id='num' name='num' /></div>";
        var submit = function (v, h, f) {
            if (f.num == '') {
                $.jBox.tip("请输入要导出的邀请码数量。", 'error', { focusId: "num" });
                return false;
            }
            $.ajax({
                url: "/VideoCode/ExportExcel",
                data: {
                    "videoID": videoID,
                    "num": f.num
                },
                success: function (data)
                {
                    if(data == "1")
                    {
                        $.jBox.info('邀请码数量不足', '提示');
                        return;
                    }
                    window.location.href = "/VideoCode/ExportExcel?videoID=" + videoID + "&num=" + f.num;
                }
            });
            return true;
        };
        $.jBox(html, { title: "输入邀请码数量", submit: submit });
    }

    //导出全部邀请码
    function exportAll()
    {
        window.location.href = "/VideoCode/ExportExcel?videoID=-1";
    }

    //删除视频
    function deleteVideo(VideoID)
    {
        var submit = function (v, h, f) {
            if (v == 'ok')
            {
                $.ajax({
                    url: "/VideoManager/DeleteVideo",
                    data: {
                        "VideoID": VideoID
                    },
                    success: function (data) {
                        if (data = "1") {
                            window.location.href = "/VideoManager";
                        }
                    }
                });
            }
            else if (v == 'cancel')
                jBox.tip("取消操作", 'info');

            return true; //close
        };

        $.jBox.confirm("删除视频将导致视频所对应的全部邀请码一并删除，请再次确认操作！", "提示", submit);
    }

    //生成邀请码
    function createCode(videoID)
    {
        var html = "<div style='padding:10px;'>数量：<input type='text' id='codeCounts' name='codeCounts' /></div>";
        var submit = function (v, h, f) {
            if (f.codeCounts == '') {
                $.jBox.tip("请输入要生成的邀请码数量。", 'error', { focusId: "codeCounts" });
                return false;
            }
            reg = /^\+?[1-9][0-9]*$/
            if (!reg.test(f.codeCounts)) {
                $.jBox.tip('请输入正确的数字', 'error', { focusId: "codeCounts" });
                return false;
            }
            $.ajax({
                url: "/VideoCode/CreateCode",
                type:"POST",
                data: {
                    "videoID": videoID,
                    "codeCounts": f.codeCounts
                },
                success: function (data) {
                    if (data == "0") {
                        $.jBox.tip('生成失败', '提示');
                    }
                    else {
                        $.jBox.tip('生成成功', '提示');
                    }
                }
            });
            return true;
        };
        $.jBox(html, { title: "输入邀请码数量", submit: submit });
    }
</script>