@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@using VideoSystem.Models
@model VideoSystem.Concrete.Paging
<div class="main" style="margin-left:290px;width:80%">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Admin/BackMain/")"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">邀请码列表</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">邀请码列表</div>
                <div class="panel-body">
                    <form role="form">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" id="name" style="width: 200px;" required/>
                                </td>
                                <td>
                                    <select class="form-control" style="width: 100px;" >
                                        <option>邀请码</option>
                                        <option>按状态</option>
                                        <option>按视频</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default">搜索</button>
                                </td>
                                <td style="padding-left:30px;">
                                    <button type="button" class="btn btn-primary">邀请码总数：<span class="badge">@TempData["codeCount"]</span></button>
                                </td>
                                <td style="padding-left:10px;">
                                    <button type="button" class="btn btn-primary">未打印数量：<span class="badge">@TempData["codeCountNotExport"]</span></button>
                                </td>
                                <td style="padding-left:10px;">
                                    <button type="button" class="btn btn-primary">用户已使用数量：<span class="badge">@TempData["codeCountUsed"]</span></button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <table class="table table-bordered table-hover class" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>邀请码</th>
                                <th>状态</th>
                                <th>视频</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Code c in Model.returnData)
                            { 
                                <tr>
                                    <td>@c.CodeID</td>
                                    <td>@c.CodeValue</td>
                                    @if (c.CodeStatus == 0)
                                    {
                                        <td>未打印</td>
                                    }
                                    @if (c.CodeStatus == 1)
                                    {
                                        <td>已打印</td>
                                    }
                                    @if (c.CodeStatus == 2)
                                    {
                                        <td>已使用</td>
                                    }
                                    @if (c.CodeStatus == 3)
                                    {
                                        <td>已失效</td>
                                    }
                                    <td>@c.Video.VideoName</td>
                                    <td>
                                        <a href="#">[删除]</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @{
                        int prePageId = (Model.request_page > 1) ? Model.request_page - 1 : 1;
                        int nextPageId = (Model.request_page < Model.total_pages) ? Model.request_page + 1 : Model.total_pages;
                    }

                    <div style="text-align: center">
                        <ul class="pagination">
                            <li><a href="@Url.Content("~/VideoCode/Index/Page1")">首页</a></li>
                            <li><a href="@Url.Content("~/VideoCode/Index/Page" + prePageId)">&laquo;</a></li>
                            @for (int i = Model.start_page_num; i <= Model.end_page_num; i++)
                            {
                                <li><a id="@i" href="@Url.Content("~/VideoCode/Index/Page" + i)">@i</a></li>
                            }
                            <li><a href="@Url.Content("~/VideoCode/Index/Page" + nextPageId)">&raquo;</a></li>
                            <li><a href="@Url.Content("~/VideoCode/Index/Page" + Model.total_pages)">末页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
